[submodule "library/osid-phpkit"]
	path = library/osid-phpkit
	url = git://git.assembla.com/osid-phpkit.git
[submodule "library/ZendFramework"]
	path = library/ZendFramework
	url = http://community.middlebury.edu/~afranco/git/external/ZendFramework.git/
[submodule "library/phpcas"]
	path = library/phpcas
	url = git://github.com/adamfranco/phpcas.git
[submodule "library/lazy_sessions"]
	path = library/lazy_sessions
	url = git://github.com/adamfranco/lazy_sessions.git
