<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urn:inet:middlebury.edu:config:banner_course/id_authority</key>
	<string>middlebury.edu</string>
	<key>urn:inet:middlebury.edu:config:banner_course/pdo_count_queries</key>
	<true/>
	<key>urn:inet:middlebury.edu:config:banner_course/pdo_driver_options</key>
	<dict>
<!-- 
		<key>PDO::ATTR_PERSISTENT</key>
		<true/>
 -->
<!-- 
 		<key>PDO::MYSQL_ATTR_INIT_COMMAND</key>
 		<string>SET NAMES utf8</string>
 -->
	</dict>
	<key>urn:inet:middlebury.edu:config:banner_course/pdo_dsn</key>
	<string>mysql:dbname=afranco_courses_banner;host=localhost</string>
	<key>urn:inet:middlebury.edu:config:banner_course/pdo_password</key>
	<string>testpassword</string>
	<key>urn:inet:middlebury.edu:config:banner_course/pdo_username</key>
	<string>testuser</string>
	<key>urn:inet:middlebury.edu:config:catalog/topic_map</key>
	<dict>
		<key>topic/department/ALAC</key>
		<string>http://go.middlebury.edu/ALAC</string>
		<key>topic/department/AMCV</key>
		<string>http://go.middlebury.edu/AMCV</string>
		<key>topic/department/AMLT</key>
		<string>http://go.middlebury.edu/AMLT</string>
		<key>topic/department/AMST</key>
		<string>http://go.middlebury.edu/AMST</string>
		<key>topic/department/ARBC</key>
		<string>http://go.middlebury.edu/ARBC</string>
		<key>topic/department/ARDV</key>
		<string>http://go.middlebury.edu/ARDV</string>
		<key>topic/department/ART</key>
		<string>http://go.middlebury.edu/ART</string>
		<key>topic/department/BIOL</key>
		<string>http://go.middlebury.edu/BIOL</string>
		<key>topic/department/CHEM</key>
		<string>http://go.middlebury.edu/CHEM</string>
		<key>topic/department/CHNS</key>
		<string>http://go.middlebury.edu/CHNS</string>
		<key>topic/department/CLAS</key>
		<string>http://go.middlebury.edu/CLAS</string>
		<key>topic/department/CSCI</key>
		<string>http://go.middlebury.edu/CSCI</string>
		<key>topic/department/DANC</key>
		<string>http://go.middlebury.edu/DANC</string>
		<key>topic/department/ECON</key>
		<string>http://go.middlebury.edu/ECON</string>
		<key>topic/department/EDST</key>
		<string>http://go.middlebury.edu/EDST</string>
		<key>topic/department/ENAM</key>
		<string>http://go.middlebury.edu/ENAM</string>
		<key>topic/department/ENGL</key>
		<string>http://go.middlebury.edu/ENGL</string>
		<key>topic/department/ENVS</key>
		<string>http://go.middlebury.edu/ENVS</string>
		<key>topic/department/FMMC</key>
		<string>http://go.middlebury.edu/FMMC</string>
		<key>topic/department/FREN</key>
		<string>http://go.middlebury.edu/FREN</string>
		<key>topic/department/FYSE</key>
		<string>http://go.middlebury.edu/FYSE</string>
		<key>topic/department/GEOG</key>
		<string>http://go.middlebury.edu/GEOG</string>
		<key>topic/department/GEOL</key>
		<string>http://go.middlebury.edu/GEOL</string>
		<key>topic/department/GRMN</key>
		<string>http://go.middlebury.edu/GRMN</string>
		<key>topic/department/HARC</key>
		<string>http://go.middlebury.edu/HARC</string>
		<key>topic/department/HIST</key>
		<string>http://go.middlebury.edu/HIST</string>
		<key>topic/department/HUDV</key>
		<string>http://go.middlebury.edu/HUDV</string>
		<key>topic/department/INDE</key>
		<string>http://go.middlebury.edu/INDE</string>
		<key>topic/department/INTD</key>
		<string>http://go.middlebury.edu/INTD</string>
		<key>topic/department/INTL</key>
		<string>http://go.middlebury.edu/INTL</string>
		<key>topic/department/IPEC</key>
		<string>http://go.middlebury.edu/IPEC</string>
		<key>topic/department/ISEA</key>
		<string>http://go.middlebury.edu/ISEA</string>
		<key>topic/department/ISRU</key>
		<string>http://go.middlebury.edu/ISRU</string>
		<key>topic/department/ITAL</key>
		<string>http://go.middlebury.edu/ITAL</string>
		<key>topic/department/JAPN</key>
		<string>http://go.middlebury.edu/JAPN</string>
		<key>topic/department/LITP</key>
		<string>http://go.middlebury.edu/LITP</string>
		<key>topic/department/LITS</key>
		<string>http://go.middlebury.edu/LITS</string>
		<key>topic/department/MATH</key>
		<string>http://go.middlebury.edu/MATH</string>
		<key>topic/department/MBBC</key>
		<string>http://go.middlebury.edu/MBBC</string>
		<key>topic/department/MUSC</key>
		<string>http://go.middlebury.edu/MUSC</string>
		<key>topic/department/NSCI</key>
		<string>http://go.middlebury.edu/NSCI</string>
		<key>topic/department/PGSE</key>
		<string>http://go.middlebury.edu/PGSE</string>
		<key>topic/department/PHED</key>
		<string>http://go.middlebury.edu/PHED</string>
		<key>topic/department/PHIL</key>
		<string>http://go.middlebury.edu/PHIL</string>
		<key>topic/department/PHYS</key>
		<string>http://go.middlebury.edu/PHYS</string>
		<key>topic/department/PSCI</key>
		<string>http://go.middlebury.edu/PSCI</string>
		<key>topic/department/PSYC</key>
		<string>http://go.middlebury.edu/PSYC</string>
		<key>topic/department/RELI</key>
		<string>http://go.middlebury.edu/RELI</string>
		<key>topic/department/RUSS</key>
		<string>http://go.middlebury.edu/RUSS</string>
		<key>topic/department/SISP</key>
		<string>http://go.middlebury.edu/SISP</string>
		<key>topic/department/SOAN</key>
		<string>http://go.middlebury.edu/SOAN</string>
		<key>topic/department/SPAN</key>
		<string>http://go.middlebury.edu/SPAN</string>
		<key>topic/department/STLD</key>
		<string>http://go.middlebury.edu/STLD</string>
		<key>topic/department/TEDU</key>
		<string>http://go.middlebury.edu/TEDU</string>
		<key>topic/department/THEA</key>
		<string>http://go.middlebury.edu/THEA</string>
		<key>topic/department/WAGS</key>
		<string>http://go.middlebury.edu/WAGS</string>
		<key>topic/department/WRPR</key>
		<string>http://go.middlebury.edu/WRPR</string>
	</dict>
</dict>
</plist>
