<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
         bootstrap="application/test/bootstrap.php">
    <testsuites>
        <testsuite name="application">
            <directory>application/test/Catalog</directory>
        </testsuite>

        <testsuite name="all">
            <directory>application/test/apc</directory>
            <directory>application/test/banner</directory>
            <directory>application/test/catalog</directory>
        </testsuite>
    </testsuites>
</phpunit>
