/* Theme/wrapper styles */
.banner, .breadcrumb, #breadcrumb {
	display: none;
}
@media screen {
	.main {
		max-width: 900px;
	}
}
@media print {
	.skiplink, .navigation, .search, .wordmark, .banner, .left, .breadcrumb, #breadcrumb, .footer {
		display: none;
	}
}
