.left {
	width: 175px;
}
.left div.content {
	margin-top: 0px;
}

div.content > ul.menu > li > ul.menu > li.expanded > a {
	color: #272c6f;
}
div.content > ul.menu > li > ul.menu > li.expanded > ul.menu li.here > a {
	color: #272c6f;
}

div.content > ul.menu {
	width: 214px;
}
