<html>
<body>
	<p>{{ messageBody | nl2br }}</p>
	<hr/>
	<img class='calendar_img' src='schedule_image.png' alt='Weekly Schedule Image' width='100%'/>
    {{ include('schedules/email-offering-list.html.twig', {schedule: schedule}, with_context = false) }}
</body>
</html>
