                <select name="term" class="form-control col-md-6">
{% for term in terms %}
                    <option value="{{ osidIdToString(term.id) }}" {{ selectedTermId and osidIdsEqual(selectedTermId, term.id) ? ' selected="selected"' }}>{{ term.displayname }}</option>
{% endfor %}
                </select>
