.offering_list .all_terms_link {
	margin-bottom: 10px;
	font-size: smaller;
}

.offering_list .selected_offering a {
	font-weight: bold;
}

.offering_list .type {
	font-style: italic;
}

.offering_list .instructor {
	font-style: italic;
}

.requirement_group {
	float: left;
}

.section_info {
	float: left;
	margin-right: 40px;
}

.section_properties {
	float: left;
}

/*********************************************************
 * Search
 *********************************************************/
table.search_options {
	width: 725px;
}

table.search_options th {
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
}

table.search_options td {
	padding-bottom: 5px;
}

table.search_options select {
	width: 300px;
}

table.search_options select.time_select {
	width: 100px;
}

table.search_options input.text_input {
	width: 300px;
}

table.search_options td {
	vertical-align: top;
}



table.search_results .title {
	font-weight: bold;
}

table.search_results {
	width: 725px;
}

table.search_results th {
	border: 1px solid #000;
	vertical-align: top;
	text-align: right;
}

table.search_results td {
	border: 1px solid #000;
	vertical-align: top;
}

table.search_results td.column1 {
	width: 200px;
}

div.search_results_item_pagination {
	width: 725px;
	text-align: right;
}

div.search_results_search_pagination {
	width: 725px;
	text-align: center;
}

div.help_text {
	font-size: smaller;
}

.read-more a {
	white-space: nowrap;
}


/*********************************************************
 * New 1D fixes
 *********************************************************/

#left {
	width: 175px;
}
div.content > ul.menu {
	width: 175px;	
}


.search_results .column1 dl {
	width: 20em;
}
.search_results .column1 dt {
	width: 7em;
}
.search_results .column1 dd {
	width: 11em;
}

.search_results .column2 dl {
	width: 32em;
}
.search_results .column2 dt {
	width: 6em;
}
.search_results .column2 dd {
	width: 24em;
}

label {
	margin-left: .25em;
	margin-right: .5em;
}

.offering_list {
	clear: both;
	padding-top: 1em;
}

.offering_list h4 {
	margin-top: 1em;
	margin-bottom: .2em;
}

/*********************************************************
 * Login
 *********************************************************/
div.login_info {
	padding-top: 40px;
}

/*********************************************************
 * Schedule styles
 *********************************************************/
div.schedule_controls {
	float: right;
	width: 188px;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-top: -40px;
}

div.schedule {
	margin: 5px;
	padding: 5px;
	border: 1px solid;
}

table.schedule_planner {
	width: 100%;
}

table.schedule_planner td {
	vertical-align: top;
}

table.schedule_planner td#bookmarks_column {
	width: 250px;
}

form.delete_schedule {
	float: right;
}

div.add_section_dialog ul.section_sets {
	margin-left: 0;
}
div.add_section_dialog ul.section_sets li {
	list-style-type: none;
}
div.add_section_dialog ul.section_set {
	border-top: 1px dotted;
	margin-left: 0;
}
div.add_section_dialog ul {
	clear: both;
}

div.add_section_dialog li.section {
	clear: both;
	margin-bottom: 10px;
}

div.add_section_dialog li.section div.section_time, div.add_section_dialog li.section div.section_location {
	clear: both;
}

div.add_section_dialog li.section div.section_info {
	float: none;
	margin-left: 2em;
}

div.add_section_dialog li.section div.section_instructor {
	float: right;
}


form.add_to_schedule_form {
	float: left;
}
li.bookmarked_course, li.bookmarked_course div.course_info {
	clear: both;
	white-space: nowrap;
}
li.bookmarked_course div.remove_course {
	float: right;
}

div.schedule li.offering {
	clear: both;
	margin-bottom: 10px;
}
div.schedule li.offering div.separator {
	float: left;
	width: 20px;
	text-align: center;
}
div.schedule li.offering div.offering_name {
	float: left;
	width: 100px;
}
div.schedule li.offering div.offering_title {
	float: left;
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
}