{% extends 'base.xml.twig' %}
{% block items %}
{%~ for catalog in catalogs %}
        <item>
            <title>{{ catalog.displayname }}</title>
            <link>{{ url('view_catalog', {catalogId: catalog.id}) }}</link>
            <description><![CDATA[{{ catalog.description | raw }}]]></description>
            <catalog:id>{{ osidIdToString(catalog.id) }}</catalog:id>
        </item>
{% endfor %}
{% endblock %}
