{% extends 'base.html.twig' %}

{% block body %}
    {% for catalog in catalogs %}
        <h2><a href="{{ url('view_catalog', { catalog: catalog.id }) }}">{{ catalog.display_name }}</a></h2>
        <div>{{ catalog.description }}</div>
    {% endfor %}
{% endblock %}
