{% extends 'base.html.twig' %}

{% set bodyTypography = true %}
{% block body %}
    <ul>
    {% for catalog in catalogs %}
        <li><a href="{{ path('view_catalog', { catalogId: catalog.id }) }}">{{ catalog.displayname }}</a>
        <div>{{ catalog.description | raw }}</div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
