/* Hide the file list and renamed tag since I'm using the labels as virtual
file names. */
.d2h-file-list-wrapper, .d2h-moved-tag {
    display:none;
}

.added {
  background: #9fff99;
}

.admin-menu {
  margin-bottom: 20px;
}

.button-delete {
  background: #970400;
  color: white;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 5px;
}

.comparison {
  margin: 10px 0px;
}

.config-select-form {
  display: inline-block;
}

.error-div {
  width: 94%;
  margin: 5px 0px 10px 0px;
  padding: 10px;
}

.error-div.error {
  display: block;
  background: #f95757;
  border: 1px dashed red;
  color: white;
}

.error-div.success {
  display: block;
  background: #84fc76;
  border: 1px dashed green;
  color: black;
}

.group {
  background: #56748E;
}

.group-controls {
  margin-top: 5px;
  padding: 2px;
}

.group-section-controls button {
  margin: 10px 0px;
  height: 30px;
  background: #84fc76;
  border: 1px solid black;
  border-radius: 3px;
}

.group-title {
  clear: right;
  font-size: 18px;
  margin-right: 30px;
}

.group-toggle-description {
  float: right;
  border-bottom: 1px dashed gray;
}

.hidden {
  display: none;
}

.inline-p {
  display: inline;
}

.job-error td {
  background: red;
}

.job-menu {
  margin: 10px 0px;
}

.job-schedule {
  background: white;
}

.job-table th, .job-table td{
  padding: 3px;
}

.job-table input {
  width: 120px;
}

.job-table input[type='checkbox'] {
  width: 10px;
}

.link-button {
  display: inline-block;
  padding: 1px 5px 2px 5px;
  border: 1px solid #AFAEAF;
  border-radius: 0px;
  background: linear-gradient(rgba(226, 227, 227, 1.0), rgba(247, 247, 247, 1.0));
  color: black;
}

.link-button:hover {
  color: black;
  border: 1px solid #AFAEAF;
}

.move-arrows {
  position: absolute;
  color: white;
  font-size: 10px;
  left: -28px;
}

.note {
  margin-top: 5px;
}

.position-helper {
  position: relative;
  width: 0px;
  height: 0px;
}

.preform-json {
  max-width: 300px;
  max-height: 400px;
  overflow: scroll;
}

.removed {
  background: #ff9999;
  text-decoration: line-through;
}

.sections-list {
  list-style: none;
}

.sections-list li {
  color: white;
  padding: 10px;
  border: 1px dashed gray;
  border-left: 20px solid #3c3c3d;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 16px 0px;
}

.section-group {
  list-style: none;
  display: none;
}

.section-group li {
  margin-left: -20px;
  background: #b5c5dd;
  color: black;
}

.section-type {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.section-value {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.visible {
  display: block;
}

.warning-box {
  position: fixed;
  width: 300px;
  height: 100px;
  left: 40%;
  top: 50%;
  background: white;
  border: 3px solid black;
  padding: 10px;
}

.section-input {
  width: 95%;
}

.half-width {
  width: 47%;
  margin-right: 5px;
}

#loading-overlay {
  background-color: #555b;
  height: 500px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.loading {
  top: 50%;
  position: relative;
}
