{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>
{% for term in terms %}
    <h2><a href='{{ url('view_term', {termId: term, catalogId: catalogId}) }}'>{{ term.displayname }}</a></h2>
    <div>{{ term.description }}</div>
{% endfor %}

{% endblock %}
