<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:catalog="http://www.middlebury.edu/course_catalog">
    <channel>
        <title>{{ title }}</title>
        <link>{{ feedLink }}</link>
        <description></description>
        <lastBuildDate>{{ 'now' | date('r') }}</lastBuildDate>
        <generator>Course Catalog</generator>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
{% for course_data in courses %}
{{ include('partials/course.xml.twig', course_data, with_context = FALSE) }}
{% endfor %}

    </channel>
</rss>
