{% extends 'base.html.twig' %}

{% block body %}
    {% for course in courses %}
        <h2><a href="{{ url('view_course', {courseId: course.id}) }}">{{ course.displayname }}</a> - {{ course.title }}</h2>
        <div>{{ course.description | raw }}</div>
    {% endfor %}
{% endblock %}
